{# src/SMB/LoyerBundle/Resources/views/Loyer/index.html.twig #}

{% extends "SMBLoyerBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block smbloyer_body %}
	<h1>Page d'accueil en construction </h1>
{% endblock %}