{# src\SMB\LoyerBundle\Resources\views\Loyer\profil.html.twig #}

{% extends "SMBLoyerBundle::layout.html.twig" %}

{% block title%}
	Gestion des utilisateurs - {{ parent() }}
{% endblock %}

{% block smbloyer_body %}
	<h2> Gestion des profils </h2>

	<p> la liste de tous les profils </p>

	<button class="btn btn-default">Ajouter un profil</button>
	
{% endblock %}