{# src\SMB\LoyerBundle\Resources\views\Loyer\recherche.html.twig #}

{% extends "SMBLoyerBundle::layout.html.twig" %}

{% block title %}
	Recherche d'un étudiant - {{ parent() }}
{% endblock %}

{% block smbloyer_body %}
	<h3>Le formulaire de recherche </h3>
{% endblock%}