{# SMB\UserBundle\Resources\views\User\view.html.twig #}

	<div class="block info_user">
		<h5 class="titre">Utilisateur</h5>

		<table>
			<tr>
				<td class="libelle">Prénom</td>	<td>{{ utilisateur.prenom }}</td>
			</tr>

			<tr>
				<td class="libelle">Nom</td>	<td>{{ utilisateur.nom }}</td>
			</tr>

			<tr>
				<td class="libelle">Adresse email</td>	<td>{{ utilisateur.email }}</td>
			</tr>

			<tr>
				<td class="libelle">Nom d'utilisateur</td>	<td>{{ utilisateur.username }}</td>
			</tr>
		</table>
	</div>
